._*
.classpath
.DS_Store
.DS_Store?
.loadpath
.metadata
.project
.settings
.Spotlight-V100
.springBeans
.Trashes
apache-tomcat-7.0.30
desktop.ini
ehthumbs.db
Icon?
nb-configuration.xml
Servers
target
Thumbs.db
.idea/

